#navmenu{
  align: center;
}

#navmenu ul{
	height:30px;
    overflow: hidden;
}

#navmenu li{
	list-style: none;
	float: left;
	position: relative;
	background:#09F;

}

#navmenu ul li {
	text-align:center;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	height:30px;
	width:150px;
	display:block;
	color:silver;
	padding-top:7px;
}

#navmenu ul ul{
	position:absolute;
	visibility: hidden;
	top:30px;
}

#navmenu li:hover {
	background: gray;
}

body{
	background-image: url('earphone.jpg');
}


#header{

}

p{
	color: white;
}
.title{
	color: white;
}

